@import "./base.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dark-glass {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0.8) 40%,
    rgba(0, 0, 0, 0.8) 60%,
    rgba(0, 0, 0, 0.1) 100%
  );

  backdrop-filter: blur(6px);
}
.glass-border {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-color: #17ae9f;
}

.text-shadow-pink {
  text-shadow: 0px 2px 8px #ff4281c9;
}

body {
  min-height: 100vh;
  background-image: url("/bkg_dark.svg");
  background-repeat: no-repeat;
  background-position: center top;
}

h1 {
  font-weight: 600;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: white;
}
